# Expo cache
.expo
.expo-shared

# Gradle cache
.gradle
android/.gradle

# Android generated build outputs
android/app/build
**/build

# Node cache only
node_modules/.cache

# Build artifacts
*.apk
*.aab
*.so

# Logs
*.log

# Coverage and dist
coverage
dist
web-build

# IDE
.vscode
.idea

# OS files
.DS_Store